* {
	box-sizing: border-box;
}

html, body, h1, h2 {
	margin: 0;
  padding: 0;
}

html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	background-color: rgb(242, 243, 244);
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: lightgray;
	border-bottom: 1px solid rgb(180, 180, 180)
}

main {
	display: flex;
	height: 100%;
}

.sidebar  {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	background-color: rgb(229, 230, 231);
	padding: 10px;
	border-right: 1px solid lightgray;
	align-items: center;
	gap: 10px;
}

.sidebar .addBook {
	width: 75%;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	gap: 5px;
}

 input {
	 width: 75%;
	 font-weight: bold;
 }
 
.submitBtn {
	width: 75%;
	font-weight: bold;
}

.library {
	display: flex;
	flex-wrap: wrap;
	flex: 5;
	height: 100%;
	gap: 10px;
	padding: 10px;
	align-content: flex-start;
}

.book {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	background-color: rgb(199, 225, 238);
	height: 33%;
	width: 19%;
	min-width: 11em;
	padding: 10px;
	text-align: center;
	min-height: 160px;
	border-radius: 5px;
}

.bookInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.bookTitle {
	font-size: 18px;
}

.bookPages {
	font-style: italic;
}

.bookButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.bookButtons button {
	font-weight: bold;
	width: 75%;
	font-weight: bold;
	border: 1px solid slategray;;
	curser: pointer;
	font-size: 15px;
	border-radius: 2px;
}

.readButton {
	background-color: rgb(172, 172, 172);
	height: 48px;
}

.read {
	background-color: rgb(81, 140, 66);
}

.deleteButton {
	background-color: rgb(253, 76, 85);
	height: 24px;
}